@import "setup";

$primary-dark: #25242e;
$secondary-dark: #353440;
$primary-light: #f7efee;
$secondary-light: #f4f4f4;
$accent-color: #f1ae12;

body {
  background-color: $primary-dark;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.accented {
  color: $accent-color;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: 4%;
  color: $primary-light;
  max-width: 70%;
  margin-top: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-top: 1rem;
  font-size: 1.75rem;
  line-height: 40px;
  font-weight: 300;
}

header {
  label {
    font-size: 4rem;
    font-weight: 300;
    color: $secondary-light;
  }
}

form {
  margin-top: 4rem;

  fieldset {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
  }

  input,
  select {
    margin-left: 1rem;
    font-size: 2rem;
    padding: 0 1rem;
    height: 4rem;

    font-weight: 300;
    color: $secondary-light;
    background-color: $secondary-dark;
    border: none;
    appearance: none;
  }

  input {
    -moz-appearance: textfield;
  }

  button {
    margin-top: 4rem;
    width: 15rem;
    height: 5rem;
    background-color: $accent-color;
    border: none;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }
}

section {
  display: none;
  margin-top: 20rem;
  padding: 2.5rem 0;
  width: 100%;
  option {
    text-align: center;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .table {
    width: 45%;
    table {
      color: $primary-light;
      border-collapse: collapse;
      width: 100%;
      font-size: 2rem;
      font-weight: 500;
    }

    tr:nth-child(even) {
      background-color: $secondary-dark;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    th {
      color: $accent-color;
    }

    .revenue {
      font-weight: 300;
    }
  }
  .summary {
    width: 45%;
    color: $primary-light;
    background-color: $secondary-dark;
    padding: 3rem 2rem;
  }
  .slider {
    width: 45%;
    color: $accent-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    fieldset {
      width: 100%;
      font-size: 2rem;
      display: flex;
      align-items: center;

      input {
        margin: 0 5rem 0 1rem;
      }
    }
    input[type="range"] {
      height: 1rem;
      width: 100%;
      appearance: none;
      outline: none;
      background: $secondary-dark;

      &::-webkit-slider-thumb {
        width: 1rem;
        height: 2rem;
      }

      &::-moz-range-thumb {
        width: 1rem;
        height: 2rem;
        border-radius: 2px;
        background: $accent-color;
        cursor: pointer;
      }
    }

    .min,
    .max {
      width: 40%;
    }

    .max {
      text-align: right;
    }
  }

  .current-value {
    width: 100%;
    text-align: center;
  }

  .table,
  .summary {
    margin-top: 10rem;
  }

  .graph {
    height: 400px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
  }

  .side,
  .bottom {
    color: $primary-light;
    font-size: 2rem;
    text-align: center;
  }

  .side {
    writing-mode: sideways-lr;
    width: 3rem;
    height: 100%;
  }

  .bottom {
    width: calc(100% - 3rem);
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .graph-contents {
    background-color: $secondary-dark;
    width: calc(100% - 3rem);
    padding: 2rem 1rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .bar {
    width: 10%;
    height: 1%;
    background-color: $accent-color;
    // transition: 2s ease-in-out;
  }
}
