@import "setup";

$primary-dark: #25242e;
$secondary-dark: #353440;
$primary-light: #f7efee;
$secondary-light: #f4f4f4;
$accent-color: #f1ae12;

body {
  background-color: $primary-dark;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background: blue;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 7rem;
  font-weight: 700;
  line-height: 90%;
  color: $primary-light;
  max-width: 54rem;
}

label {
  font-size: 3rem;
  font-weight: 300;
  color: $secondary-light;
}
